# CHAPTER 11 - TIME SERIES

## DATA AND TIME DATA TYPES AND TOOLS

In [11]:
from datetime import datetime

In [12]:
now = datetime.now()

In [13]:
now

datetime.datetime(2021, 4, 20, 11, 16, 35, 351951)

In [14]:
now.year, now.month, now.day

(2021, 4, 20)

In [15]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 15)

In [16]:
delta

datetime.timedelta(days=926, seconds=32400)

In [17]:
delta.days

926

In [18]:
delta.seconds

32400

In [19]:
from datetime import timedelta

In [20]:
start = datetime(2011, 1, 7)

In [21]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [22]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [23]:
stamp = datetime(2011, 1, 3)

In [24]:
str(stamp)

'2011-01-03 00:00:00'

In [25]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [26]:
stamp.strftime('%F')

'2011-01-03'

In [27]:
stamp.strftime('%D')

'01/03/11'

In [28]:
value = '2011-01-03'

In [43]:
data = datetime.strptime(value, '%Y-%m-%d')
data

datetime.datetime(2011, 1, 3, 0, 0)

In [30]:
datestrs = ['7/6/2011', '8/6/2011']

In [31]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [32]:
from dateutil.parser import parse

In [33]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [34]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [35]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [36]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [37]:
import pandas as pd

In [38]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [39]:
idx = pd.to_datetime(datestrs + [None])

In [40]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [41]:
idx[2]

NaT

In [42]:
pd.isnull(idx)

array([False, False,  True])

## TIME SERIES BASICS

In [52]:
from datetime import datetime
import numpy as np

In [53]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), 
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [54]:
ts = pd.Series(np.random.randn(6), index=dates)

In [55]:
ts

2011-01-02    0.788145
2011-01-05    0.625755
2011-01-07   -0.398791
2011-01-08    1.197829
2011-01-10   -1.080242
2011-01-12   -0.238101
dtype: float64

In [56]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [58]:
ts + ts[::2]

2011-01-02    1.576291
2011-01-05         NaN
2011-01-07   -0.797582
2011-01-08         NaN
2011-01-10   -2.160484
2011-01-12         NaN
dtype: float64

In [60]:
ts[::2]

2011-01-02    0.788145
2011-01-07   -0.398791
2011-01-10   -1.080242
dtype: float64

In [61]:
ts.index.dtype

dtype('<M8[ns]')

In [62]:
stamp = ts.index[0]

In [63]:
stamp

Timestamp('2011-01-02 00:00:00')

## INDEXING, SELECTION, SUBSETTING

In [64]:
stamp = ts.index[2]

In [65]:
ts[stamp]

-0.3987907524412539

In [66]:
ts['1/10/2011']

-1.0802421572591046

In [67]:
ts['20110110']

-1.0802421572591046

In [69]:
longer_ts = pd.Series(np.random.randn(1000),
            index=pd.date_range('1/1/2000', periods=1000))

In [70]:
longer_ts

2000-01-01    0.063008
2000-01-02    2.492390
2000-01-03   -1.051518
2000-01-04    0.528466
2000-01-05   -0.111815
                ...
2002-09-22   -0.514075
2002-09-23   -0.513955
2002-09-24   -0.060538
2002-09-25   -0.258573
2002-09-26   -0.001398
Freq: D, Length: 1000, dtype: float64

In [71]:
longer_ts['2001']

2001-01-01    0.281343
2001-01-02   -0.548220
2001-01-03   -0.272971
2001-01-04    1.015131
2001-01-05    1.460759
                ...
2001-12-27   -1.502719
2001-12-28    0.405795
2001-12-29    0.778506
2001-12-30    1.305942
2001-12-31   -0.128638
Freq: D, Length: 365, dtype: float64

In [72]:
longer_ts['2001-05']

2001-05-01    0.028766
2001-05-02   -0.469767
2001-05-03   -0.599662
2001-05-04    0.073314
2001-05-05   -0.513743
2001-05-06    2.326325
2001-05-07    1.143582
2001-05-08   -0.144462
2001-05-09    0.365814
2001-05-10    0.669050
2001-05-11    0.504671
2001-05-12   -0.336264
2001-05-13    2.247147
2001-05-14   -0.914231
2001-05-15   -0.749972
2001-05-16    1.829335
2001-05-17   -0.008158
2001-05-18   -0.397463
2001-05-19    0.187607
2001-05-20    0.442225
2001-05-21    0.590658
2001-05-22   -0.002999
2001-05-23   -0.009089
2001-05-24   -1.540076
2001-05-25    1.033776
2001-05-26    0.439440
2001-05-27    0.219471
2001-05-28    2.357812
2001-05-29   -1.098747
2001-05-30    1.055635
2001-05-31    0.596432
Freq: D, dtype: float64

In [75]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.398791
2011-01-08    1.197829
2011-01-10   -1.080242
2011-01-12   -0.238101
dtype: float64

In [76]:
ts

2011-01-02    0.788145
2011-01-05    0.625755
2011-01-07   -0.398791
2011-01-08    1.197829
2011-01-10   -1.080242
2011-01-12   -0.238101
dtype: float64

In [77]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.398791
2011-01-08    1.197829
2011-01-10   -1.080242
dtype: float64

In [78]:
ts.truncate(after='1/9/2011')

2011-01-02    0.788145
2011-01-05    0.625755
2011-01-07   -0.398791
2011-01-08    1.197829
dtype: float64

In [79]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [80]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [81]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                       'New York', 'Ohio'])

In [82]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.427377 -2.600521 -1.561630 -0.459981
2001-05-09 -0.199589 -1.703605  1.129095 -0.706922
2001-05-16  0.007645 -0.428635 -0.683484  0.993248
2001-05-23  0.308886  0.211981 -1.946787 -0.575868
2001-05-30 -0.490963  0.749155 -0.057026 -0.349532

## TIMES SERIES WITH DUPLICATE INDICES

In [84]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])

In [85]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [86]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [87]:
dup_ts.index.is_unique

False

In [88]:
dup_ts['1/3/2000']

4

In [90]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [91]:
grouped = dup_ts.groupby(level=0)

In [92]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [93]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [94]:
resampler = ts.resample('D')

## GENERATING DATE RANGES

In [104]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [105]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [107]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [109]:
pd.date_range(start='2012-04-01', periods=20, freq='BM')

DatetimeIndex(['2012-04-30', '2012-05-31', '2012-06-29', '2012-07-31',
               '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30',
               '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-29',
               '2013-04-30', '2013-05-31', '2013-06-28', '2013-07-31',
               '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29'],
              dtype='datetime64[ns]', freq='BM')

In [110]:
pd.date_range(start='2012-04-01', periods=20, freq='D')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [111]:
pd.date_range(start='2012-04-01', periods=20, freq='B')

DatetimeIndex(['2012-04-02', '2012-04-03', '2012-04-04', '2012-04-05',
               '2012-04-06', '2012-04-09', '2012-04-10', '2012-04-11',
               '2012-04-12', '2012-04-13', '2012-04-16', '2012-04-17',
               '2012-04-18', '2012-04-19', '2012-04-20', '2012-04-23',
               '2012-04-24', '2012-04-25', '2012-04-26', '2012-04-27'],
              dtype='datetime64[ns]', freq='B')

In [112]:
pd.date_range(start='2012-04-01', periods=20, freq='W')

DatetimeIndex(['2012-04-01', '2012-04-08', '2012-04-15', '2012-04-22',
               '2012-04-29', '2012-05-06', '2012-05-13', '2012-05-20',
               '2012-05-27', '2012-06-03', '2012-06-10', '2012-06-17',
               '2012-06-24', '2012-07-01', '2012-07-08', '2012-07-15',
               '2012-07-22', '2012-07-29', '2012-08-05', '2012-08-12'],
              dtype='datetime64[ns]', freq='W-SUN')

In [113]:
pd.date_range(start='2012-04-01', periods=20, freq='Q-JAN')

DatetimeIndex(['2012-04-30', '2012-07-31', '2012-10-31', '2013-01-31',
               '2013-04-30', '2013-07-31', '2013-10-31', '2014-01-31',
               '2014-04-30', '2014-07-31', '2014-10-31', '2015-01-31',
               '2015-04-30', '2015-07-31', '2015-10-31', '2016-01-31',
               '2016-04-30', '2016-07-31', '2016-10-31', '2017-01-31'],
              dtype='datetime64[ns]', freq='Q-JAN')

In [114]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [115]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## FREQUENCIES AND DATA OFFSETS