# CHAPTER 07 - DATA CLEANING AND PREPARATION

## HANDILING MISSING DATA

In [1]:
import pandas as pd
import numpy as np

In [2]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [3]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [4]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [5]:
string_data[0] = None

In [6]:
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

In [7]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

## FILTERING OUT MISSING DATA

In [9]:
from numpy import nan as NA

In [10]:
data = pd.Series([1, NA, 3.5, NA, 7])

In [11]:
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [12]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [13]:
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [14]:
data.dropna(inplace=True)

In [15]:
data

0    1.0
2    3.5
4    7.0
dtype: float64

In [16]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],[NA, NA, NA], [NA, 6.5, 3.]])

In [17]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [18]:
cleaned = data.dropna()

In [19]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [21]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [22]:
data[4] = NA

In [23]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [25]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [26]:
df = pd.DataFrame(np.random.randn(7,3))

In [27]:
df

          0         1         2
0  0.088695 -0.732912 -0.469802
1  1.321890  1.566563 -0.317430
2 -0.100747 -0.043977  1.551595
3 -0.459046 -1.435905 -2.736256
4  0.063026 -0.294556  1.256250
5  0.322530 -0.773284 -0.970637
6  1.103354  0.340005  0.353191

In [28]:
df.iloc[:4, 1] = NA

In [29]:
df

          0         1         2
0  0.088695       NaN -0.469802
1  1.321890       NaN -0.317430
2 -0.100747       NaN  1.551595
3 -0.459046       NaN -2.736256
4  0.063026 -0.294556  1.256250
5  0.322530 -0.773284 -0.970637
6  1.103354  0.340005  0.353191

In [31]:
df.iloc[:2, 2] = NA

In [32]:
df

          0         1         2
0  0.088695       NaN       NaN
1  1.321890       NaN       NaN
2 -0.100747       NaN  1.551595
3 -0.459046       NaN -2.736256
4  0.063026 -0.294556  1.256250
5  0.322530 -0.773284 -0.970637
6  1.103354  0.340005  0.353191

In [33]:
df.dropna()

          0         1         2
4  0.063026 -0.294556  1.256250
5  0.322530 -0.773284 -0.970637
6  1.103354  0.340005  0.353191

In [34]:
df.dropna(thresh=2)

          0         1         2
2 -0.100747       NaN  1.551595
3 -0.459046       NaN -2.736256
4  0.063026 -0.294556  1.256250
5  0.322530 -0.773284 -0.970637
6  1.103354  0.340005  0.353191

## FILLINING IN MISSING DATA

In [37]:
df.fillna(0)

          0         1         2
0  0.088695  0.000000  0.000000
1  1.321890  0.000000  0.000000
2 -0.100747  0.000000  1.551595
3 -0.459046  0.000000 -2.736256
4  0.063026 -0.294556  1.256250
5  0.322530 -0.773284 -0.970637
6  1.103354  0.340005  0.353191

In [38]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0  0.088695  0.500000  0.000000
1  1.321890  0.500000  0.000000
2 -0.100747  0.500000  1.551595
3 -0.459046  0.500000 -2.736256
4  0.063026 -0.294556  1.256250
5  0.322530 -0.773284 -0.970637
6  1.103354  0.340005  0.353191

In [39]:
_ = df.fillna(0, inplace=True)

In [40]:
df

          0         1         2
0  0.088695  0.000000  0.000000
1  1.321890  0.000000  0.000000
2 -0.100747  0.000000  1.551595
3 -0.459046  0.000000 -2.736256
4  0.063026 -0.294556  1.256250
5  0.322530 -0.773284 -0.970637
6  1.103354  0.340005  0.353191

In [41]:
df = pd.DataFrame(np.random.randn(6, 3))

In [42]:
df

          0         1         2
0 -0.616699 -1.093488 -0.889186
1 -0.894985  1.950260 -0.539130
2  0.549203  1.208315 -0.471867
3 -1.440860  0.655387 -0.759680
4 -0.544441  1.943526  0.457472
5  0.196416 -1.294130  0.162320

In [45]:
df.iloc[2:, 1] = NA

In [46]:
df

          0         1         2
0 -0.616699 -1.093488 -0.889186
1 -0.894985  1.950260 -0.539130
2  0.549203       NaN -0.471867
3 -1.440860       NaN -0.759680
4 -0.544441       NaN  0.457472
5  0.196416       NaN  0.162320

In [47]:
df.iloc[4:, 2] = NA

In [48]:
df

          0         1         2
0 -0.616699 -1.093488 -0.889186
1 -0.894985  1.950260 -0.539130
2  0.549203       NaN -0.471867
3 -1.440860       NaN -0.759680
4 -0.544441       NaN       NaN
5  0.196416       NaN       NaN

In [49]:
df.fillna(method='ffill')

          0         1         2
0 -0.616699 -1.093488 -0.889186
1 -0.894985  1.950260 -0.539130
2  0.549203  1.950260 -0.471867
3 -1.440860  1.950260 -0.759680
4 -0.544441  1.950260 -0.759680
5  0.196416  1.950260 -0.759680

In [50]:
df.fillna(method='ffill', limit=2)

          0         1         2
0 -0.616699 -1.093488 -0.889186
1 -0.894985  1.950260 -0.539130
2  0.549203  1.950260 -0.471867
3 -1.440860  1.950260 -0.759680
4 -0.544441       NaN -0.759680
5  0.196416       NaN -0.759680

In [51]:
data = pd.Series([1., NA, 3.5, NA, 7])

In [52]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

## DATA TRANSFORMATION