# ESTRUTURAS DE DADOS *BUILT-IN*, FUNÇÕES E ARQUIVOS

## Tuple

In [1]:
tup = 4, 6, 7

In [2]:
tup

(4, 6, 7)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [14]:
tup = tuple(['foo', [1, 2], True])

In [15]:
tup

('foo', [1, 2], True)

In [18]:
tup[1].append(3)

In [19]:
tup

('foo', [1, 2, 3], True)

In [20]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [42]:
tup = (4, 5, 6)

In [43]:
a, b, c = tup

In [44]:
tup = 4, 5, (6, 7)

In [45]:
a, b, (c, d) = tup

In [46]:
d

7

In [47]:
a, b

(4, 5)

In [48]:
tmp = a

In [49]:
a = b

In [50]:
b = tmp

In [51]:
a, b

(5, 4)

In [52]:
a, b = 1, 2

In [53]:
a, b

(1, 2)

In [54]:
b, a = a, b

In [55]:
a, b

(2, 1)

In [56]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [57]:
seq

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [59]:
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [60]:
values = 1, 2, 3, 4, 5

In [61]:
values

(1, 2, 3, 4, 5)

In [62]:
a, b, *rest = values

In [64]:
a

1

In [66]:
b

2

In [67]:
rest

[3, 4, 5]

In [68]:
a, b, *_ = values

In [69]:
a

1

In [70]:
b

2

In [72]:
_ #Valores ignorados

[3, 4, 5]

In [73]:
a = (1, 2, 2, 2, 3, 4, 2)

In [74]:
a

(1, 2, 2, 2, 3, 4, 2)

In [75]:
a.count(2)

4

## Lists

In [7]:
a_list = [2, 3, 7, None]

In [8]:
a_list

[2, 3, 7, None]

In [9]:
tup = ('foo', 'bar', 'baz')

In [10]:
tup

('foo', 'bar', 'baz')

In [11]:
b_list = list(tup)

In [12]:
b_list

['foo', 'bar', 'baz']

In [13]:
b_list[1] = 'peekaboo'

In [14]:
b_list

['foo', 'peekaboo', 'baz']

In [15]:
gen = range(10)

In [16]:
gen

range(0, 10)

In [17]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
b_list.append('dwarf')

In [43]:
b_list

['red', 'red', 'dwaff', 'dwaf', 'foo', 'dwarf']

In [44]:
b_list.insert(1, 'red')

In [45]:
b_list

['red', 'red', 'red', 'dwaff', 'dwaf', 'foo', 'dwarf']

In [46]:
b_list.pop(2)

'red'

In [47]:
b_list

['red', 'red', 'dwaff', 'dwaf', 'foo', 'dwarf']

In [48]:
b_list.append('foo')

In [49]:
b_list

['red', 'red', 'dwaff', 'dwaf', 'foo', 'dwarf', 'foo']

In [50]:
b_list.remove('foo')

In [51]:
b_list

['red', 'red', 'dwaff', 'dwaf', 'dwarf', 'foo']

In [52]:
'dwarf' in b_list

True

In [53]:
'dwarf' not in b_list

False

In [54]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [55]:
x = [4, None, 'foo']

In [57]:
x.extend([7, 8, (2, 3)])

In [58]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [59]:
a = [7, 2, 5, 1, 3]

In [60]:
a.sort()

In [61]:
a

[1, 2, 3, 5, 7]

In [62]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [63]:
b.sort(key=len)

In [64]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [65]:
import bisect

In [66]:
c = [1, 2, 2, 2, 3, 4, 7]

In [67]:
bisect.bisect(c, 2)

4

In [70]:
bisect.bisect(c, 5)

6

In [71]:
bisect.insort(c, 6)

In [72]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [74]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [75]:
seq[1:5]

[2, 3, 7, 5]

In [76]:
seq[3:4] = [6, 3]

In [77]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [78]:
seq[:5]

[7, 2, 3, 6, 3]

In [79]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [80]:
seq[-4]

5

In [81]:
seq[-6:-2]

[6, 3, 5, 6]

In [82]:
seq[::2]

[7, 3, 3, 6, 1]

In [83]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

## enumarate

In [88]:
collection = list('Hello World!')

In [89]:
collection

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [90]:
enumerate(collection)

In [91]:
list(enumerate(collection))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'W'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd'),
 (11, '!')]

In [92]:
list(enumerate('HelloWorld!'))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, 'W'),
 (6, 'o'),
 (7, 'r'),
 (8, 'l'),
 (9, 'd'),
 (10, '!')]

In [93]:
values = {}
for key, value in enumerate('Hello World!'):
    values[key] = value

In [94]:
values

{0: 'H',
 1: 'e',
 2: 'l',
 3: 'l',
 4: 'o',
 5: ' ',
 6: 'W',
 7: 'o',
 8: 'r',
 9: 'l',
 10: 'd',
 11: '!'}

## sorted

In [95]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [96]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

## zip

In [100]:
seq1 = ['foo', 'bar', 'baz']

In [101]:
seq2 = ['one', 'two', 'three']

In [102]:
zipped = zip(seq1, seq2)

In [103]:
zipped

In [104]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [105]:
seq3 = [True, False]

In [106]:
zipped = zip(seq1, seq2, seq3)

In [108]:
list(zipped)

[('foo', 'one', True), ('bar', 'two', False)]

In [109]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print(f'{i}: {a}, {b}')

0: foo, one
1: bar, two
2: baz, three

In [110]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [111]:
first_names, last_names = zip(*pitchers)

In [112]:
first_names

('Nolan', 'Roger', 'Schilling')

In [113]:
last_names

('Ryan', 'Clemens', 'Curt')

## reversed

In [115]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## dict