# ESTRUTURAS DE DADOS *BUILT-IN*, FUNÇÕES E ARQUIVOS

## Tuple

In [30]:
tup = 4, 6, 7

In [31]:
tup

(4, 6, 7)

In [32]:
nested_tup = (4, 5, 6), (7, 8)

In [33]:
nested_tup

((4, 5, 6), (7, 8))

In [34]:
tuple([4, 0, 2])

(4, 0, 2)

In [35]:
tup = tuple('string')

In [36]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [37]:
tup[0]

's'

In [38]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [39]:
tup = tuple(['foo', [1, 2], True])

In [40]:
tup

('foo', [1, 2], True)

In [41]:
tup[1].append(3)

In [42]:
tup

('foo', [1, 2, 3], True)

In [43]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [44]:
tup = (4, 5, 6)

In [45]:
a, b, c = tup

In [46]:
tup = 4, 5, (6, 7)

In [47]:
a, b, (c, d) = tup

In [48]:
d

7

In [49]:
a, b

(4, 5)

In [50]:
tmp = a

In [51]:
a = b

In [52]:
b = tmp

In [53]:
a, b

(5, 4)

In [54]:
a, b = 1, 2

In [55]:
a, b

(1, 2)

In [56]:
b, a = a, b

In [57]:
a, b

(2, 1)

In [58]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [59]:
seq

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [60]:
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [61]:
values = 1, 2, 3, 4, 5

In [62]:
values

(1, 2, 3, 4, 5)

In [63]:
a, b, *rest = values

In [64]:
a

1

In [65]:
b

2

In [66]:
rest

[3, 4, 5]

In [67]:
a, b, *_ = values

In [68]:
a

1

In [69]:
b

2

In [70]:
_ #Valores ignorados

[3, 4, 5]

In [71]:
a = (1, 2, 2, 2, 3, 4, 2)

In [72]:
a

(1, 2, 2, 2, 3, 4, 2)

In [73]:
a.count(2)

4

## Lists

In [74]:
a_list = [2, 3, 7, None]

In [75]:
a_list

[2, 3, 7, None]

In [76]:
tup = ('foo', 'bar', 'baz')

In [77]:
tup

('foo', 'bar', 'baz')

In [78]:
b_list = list(tup)

In [79]:
b_list

['foo', 'bar', 'baz']

In [80]:
b_list[1] = 'peekaboo'

In [81]:
b_list

['foo', 'peekaboo', 'baz']

In [82]:
gen = range(10)

In [83]:
gen

range(0, 10)

In [84]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
b_list.append('dwarf')

In [86]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [87]:
b_list.insert(1, 'red')

In [88]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [89]:
b_list.pop(2)

'peekaboo'

In [90]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [91]:
b_list.append('foo')

In [92]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [93]:
b_list.remove('foo')

In [94]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [95]:
'dwarf' in b_list

True

In [96]:
'dwarf' not in b_list

False

In [97]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [98]:
x = [4, None, 'foo']

In [99]:
x.extend([7, 8, (2, 3)])

In [100]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [101]:
a = [7, 2, 5, 1, 3]

In [102]:
a.sort()

In [103]:
a

[1, 2, 3, 5, 7]

In [104]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [105]:
b.sort(key=len)

In [106]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [107]:
import bisect

In [108]:
c = [1, 2, 2, 2, 3, 4, 7]

In [109]:
bisect.bisect(c, 2)

4

In [110]:
bisect.bisect(c, 5)

6

In [111]:
bisect.insort(c, 6)

In [112]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [113]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [114]:
seq[1:5]

[2, 3, 7, 5]

In [115]:
seq[3:4] = [6, 3]

In [116]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [117]:
seq[:5]

[7, 2, 3, 6, 3]

In [118]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [119]:
seq[-4]

5

In [120]:
seq[-6:-2]

[6, 3, 5, 6]

In [121]:
seq[::2]

[7, 3, 3, 6, 1]

In [122]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

## enumarate

In [123]:
collection = list('Hello World!')

In [124]:
collection

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [125]:
enumerate(collection)

In [126]:
list(enumerate(collection))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'W'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd'),
 (11, '!')]

In [127]:
list(enumerate('HelloWorld!'))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, 'W'),
 (6, 'o'),
 (7, 'r'),
 (8, 'l'),
 (9, 'd'),
 (10, '!')]

In [128]:
values = {}
for key, value in enumerate('Hello World!'):
    values[key] = value

In [129]:
values

{0: 'H',
 1: 'e',
 2: 'l',
 3: 'l',
 4: 'o',
 5: ' ',
 6: 'W',
 7: 'o',
 8: 'r',
 9: 'l',
 10: 'd',
 11: '!'}

## sorted

In [130]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [131]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

## zip

In [132]:
seq1 = ['foo', 'bar', 'baz']

In [133]:
seq2 = ['one', 'two', 'three']

In [134]:
zipped = zip(seq1, seq2)

In [135]:
zipped

In [136]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [137]:
seq3 = [True, False]

In [138]:
zipped = zip(seq1, seq2, seq3)

In [139]:
list(zipped)

[('foo', 'one', True), ('bar', 'two', False)]

In [140]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print(f'{i}: {a}, {b}')

0: foo, one
1: bar, two
2: baz, three

In [141]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [142]:
first_names, last_names = zip(*pitchers)

In [143]:
first_names

('Nolan', 'Roger', 'Schilling')

In [144]:
last_names

('Ryan', 'Clemens', 'Curt')

## reversed

In [145]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## dict

In [146]:
empyt_dict = {}

In [147]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [148]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [149]:
d1[7] = 'an integer'

In [150]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [151]:
d1['b']

[1, 2, 3, 4]

In [152]:
'b' in d1

True

In [153]:
'b' in d1

True

In [154]:
d1[5] = 'some value'

In [155]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [156]:
d1['dummy'] = 'another value'

In [157]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [158]:
    del d1[5]

In [159]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [160]:
ret = d1.pop('dummy')

In [161]:
ret

'another value'

In [162]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [163]:
list(d1.keys())

['a', 'b', 7]

In [164]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [165]:
d1.update({'b' : 'foo', 'c' : 12})

In [166]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [169]:
mapping = dict(zip(range(5), reversed(range(5))))

In [170]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [171]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [172]:
by_letter = {}

In [173]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [174]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [175]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [176]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [177]:
hash('string')

121735448

In [180]:
hash((1, 2, (2, 3)))

-1552955886

In [181]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [182]:
d = {}

In [183]:
d[tuple([1, 2, 3])] = 5

In [184]:
d

{(1, 2, 3): 5}

## set

In [186]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [187]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [188]:
a = {1, 2, 3, 4, 5}

In [189]:
b = {3, 4, 5, 6, 7, 8}

In [190]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [191]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [192]:
a.intersection(b)

{3, 4, 5}

In [193]:
a & b

{3, 4, 5}

In [194]:
c = a.copy()

In [195]:
c

{1, 2, 3, 4, 5}

In [196]:
c |= b

In [197]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [198]:
d = a.copy()

In [199]:
d &= b

In [200]:
d

{3, 4, 5}

In [201]:
my_data = [1, 2, 3, 4]

In [202]:
my_set = {tuple(my_data)}

In [203]:
my_set

{(1, 2, 3, 4)}

In [204]:
a_set = {1, 2, 3, 4, 5}

In [205]:
{1, 2, 3}.issubset(a_set)

True

In [206]:
a_set.issuperset({1, 2, 3})

True

In [207]:
{1, 2, 3} == {3, 2, 1}

True

## List, Set, and Dict COmprehensions

In [208]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [209]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [210]:
unique_lengths = {len(x) for x in strings}

In [211]:
unique_lengths

{1, 2, 3, 4, 6}

In [212]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [213]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [214]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [215]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [216]:
names_of_interest = []

In [217]:
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [218]:
names_of_interest

['Steven']

In [229]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [230]:
result

['Steven']

In [231]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [232]:
flattened = [x for tup in some_tuples for x in tup]

In [233]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Functions

In [236]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [237]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [238]:
my_function(3.14, 7, 3.5)

35.49

In [239]:
my_function(10, 20)

45.0

In [240]:
my_function(x=5, y=6, z=7)

77

In [241]:
my_function(y=6, x=5, z=7)

77

In [248]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [249]:
f()

(5, 6, 7)

In [250]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [254]:
f()

{'a': 5, 'b': 6, 'c': 7}

In [255]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [256]:
import re

In [272]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [269]:
value = 'Alabama'

In [273]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

'Alabama'

In [274]:
re.sub('[la]', '', value)

'Abm'

In [275]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

In [276]:
clean_ops = [str.strip, remove_punctuation, str.title]

In [277]:
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [279]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [280]:
def short_function(x):
    return x * 2

In [281]:
equiv_anon = lambda x: x * 2

In [282]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [283]:
ints = [4, 0, 1, 5, 6]

In [284]:
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [285]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [286]:
strings.sort(key=lambda x: len(set(list(x))))

In [287]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [288]:
def add_numbers(x, y):
    return x + y

In [289]:
add_five = lambda y: add_numbers(5, y)

In [291]:
add_five(3)

8

In [292]:
from functools import partial

In [293]:
add_five = partial(add_numbers, 5)

In [294]:
add_five(3)

8

In [295]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [296]:
for key in some_dict: print(key)

a
b
c

In [297]:
dict_iterator = iter(some_dict)

In [298]:
dict_iterator

In [299]:
list(dict_iterator)

['a', 'b', 'c']

In [300]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [304]:
gen = squares()

In [302]:
gen

In [303]:
for x in gen: print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [309]:
gen = (x ** 2 for x in range(100))

In [310]:
gen

In [311]:
def _make_gen():
    for x in range(100):
        yield x ** 2

In [312]:
gen = _make_gen()

In [313]:
sum(x ** 2 for x in range(100))

328350

In [314]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [315]:
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [316]:
import itertools

In [317]:
first_letter = lambda x: x[0]

In [318]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [319]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

## Erros and Excepttion Handling