# CHAPTER 11 - TIME SERIES

## DATA AND TIME DATA TYPES AND TOOLS

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2021, 5, 10, 11, 13, 1, 308495)

In [5]:
now.year, now.month, now.day

(2021, 5, 10)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 15)

In [7]:
delta

datetime.timedelta(days=926, seconds=32400)

In [8]:
delta.days

926

In [9]:
delta.seconds

32400

In [10]:
from datetime import timedelta

In [11]:
start = datetime(2011, 1, 7)

In [12]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [13]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [14]:
stamp = datetime(2011, 1, 3)

In [15]:
str(stamp)

'2011-01-03 00:00:00'

In [16]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [17]:
stamp.strftime('%F')

'2011-01-03'

In [18]:
stamp.strftime('%D')

'01/03/11'

In [19]:
value = '2011-01-03'

In [20]:
data = datetime.strptime(value, '%Y-%m-%d')
data

datetime.datetime(2011, 1, 3, 0, 0)

In [21]:
datestrs = ['7/6/2011', '8/6/2011']

In [22]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [23]:
from dateutil.parser import parse

In [24]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [25]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [26]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [27]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [28]:
import pandas as pd

In [29]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [30]:
idx = pd.to_datetime(datestrs + [None])

In [31]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
idx[2]

NaT

In [33]:
pd.isnull(idx)

array([False, False,  True])

## TIME SERIES BASICS

In [34]:
from datetime import datetime
import numpy as np

In [35]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), 
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [36]:
ts = pd.Series(np.random.randn(6), index=dates)

In [37]:
ts

2011-01-02    0.114339
2011-01-05   -0.608364
2011-01-07    1.229907
2011-01-08   -0.694522
2011-01-10    0.964183
2011-01-12    0.969399
dtype: float64

In [38]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [39]:
ts + ts[::2]

2011-01-02    0.228677
2011-01-05         NaN
2011-01-07    2.459813
2011-01-08         NaN
2011-01-10    1.928366
2011-01-12         NaN
dtype: float64

In [40]:
ts[::2]

2011-01-02    0.114339
2011-01-07    1.229907
2011-01-10    0.964183
dtype: float64

In [41]:
ts.index.dtype

dtype('<M8[ns]')

In [42]:
stamp = ts.index[0]

In [43]:
stamp

Timestamp('2011-01-02 00:00:00')

## INDEXING, SELECTION, SUBSETTING

In [44]:
stamp = ts.index[2]

In [45]:
ts[stamp]

1.229906628253429

In [46]:
ts['1/10/2011']

0.9641831152835294

In [47]:
ts['20110110']

0.9641831152835294

In [48]:
longer_ts = pd.Series(np.random.randn(1000),
            index=pd.date_range('1/1/2000', periods=1000))

In [49]:
longer_ts

2000-01-01    0.824319
2000-01-02    0.403897
2000-01-03   -0.215079
2000-01-04    1.253592
2000-01-05    0.488143
                ...
2002-09-22    1.099321
2002-09-23    0.018587
2002-09-24   -0.231051
2002-09-25    0.206764
2002-09-26   -0.085180
Freq: D, Length: 1000, dtype: float64

In [50]:
longer_ts['2001']

2001-01-01   -0.172601
2001-01-02   -0.009486
2001-01-03    0.905770
2001-01-04    1.846539
2001-01-05    0.436871
                ...
2001-12-27    0.382328
2001-12-28   -1.564964
2001-12-29   -0.568657
2001-12-30   -1.472285
2001-12-31   -0.199742
Freq: D, Length: 365, dtype: float64

In [51]:
longer_ts['2001-05']

2001-05-01   -0.075472
2001-05-02   -0.397701
2001-05-03    0.163253
2001-05-04   -1.485111
2001-05-05    0.290338
2001-05-06    0.461545
2001-05-07   -0.509100
2001-05-08   -0.963128
2001-05-09    1.135244
2001-05-10   -0.760383
2001-05-11   -0.660125
2001-05-12   -1.229616
2001-05-13   -1.700773
2001-05-14    1.282646
2001-05-15    0.525583
2001-05-16    0.874602
2001-05-17   -0.877893
2001-05-18    0.927780
2001-05-19   -0.442774
2001-05-20    0.123145
2001-05-21    0.408434
2001-05-22    0.639367
2001-05-23   -1.249682
2001-05-24   -1.023824
2001-05-25    0.976526
2001-05-26    0.306723
2001-05-27   -0.373348
2001-05-28   -0.423545
2001-05-29   -1.082810
2001-05-30    1.292487
2001-05-31    0.408848
Freq: D, dtype: float64

In [52]:
ts[datetime(2011, 1, 7):]

2011-01-07    1.229907
2011-01-08   -0.694522
2011-01-10    0.964183
2011-01-12    0.969399
dtype: float64

In [53]:
ts

2011-01-02    0.114339
2011-01-05   -0.608364
2011-01-07    1.229907
2011-01-08   -0.694522
2011-01-10    0.964183
2011-01-12    0.969399
dtype: float64

In [54]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.229907
2011-01-08   -0.694522
2011-01-10    0.964183
dtype: float64

In [55]:
ts.truncate(after='1/9/2011')

2011-01-02    0.114339
2011-01-05   -0.608364
2011-01-07    1.229907
2011-01-08   -0.694522
dtype: float64

In [56]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [57]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [58]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                       'New York', 'Ohio'])

In [59]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.382878  1.101013 -1.832435  0.270556
2001-05-09 -1.272675  1.430262  1.635045 -0.016055
2001-05-16 -0.535375  0.518575  0.394517  0.495193
2001-05-23  0.383813 -0.866739 -0.744892 -2.132041
2001-05-30  0.866747 -2.318167 -0.795534 -0.300860

## TIMES SERIES WITH DUPLICATE INDICES

In [60]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])

In [61]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [62]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [63]:
dup_ts.index.is_unique

False

In [64]:
dup_ts['1/3/2000']

4

In [65]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [66]:
grouped = dup_ts.groupby(level=0)

In [67]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [68]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## DATA RANGES, FREQUENCIES, AND SHIFTING

In [69]:
ts

2011-01-02    0.114339
2011-01-05   -0.608364
2011-01-07    1.229907
2011-01-08   -0.694522
2011-01-10    0.964183
2011-01-12    0.969399
dtype: float64

In [70]:
resampler = ts.resample('D')

In [71]:
resampler

## GENERATING DATE RANGES

In [72]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [73]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [75]:
pd.date_range(start='2012-04-01', periods=20, freq='BM')

DatetimeIndex(['2012-04-30', '2012-05-31', '2012-06-29', '2012-07-31',
               '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30',
               '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-29',
               '2013-04-30', '2013-05-31', '2013-06-28', '2013-07-31',
               '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29'],
              dtype='datetime64[ns]', freq='BM')

In [76]:
pd.date_range(start='2012-04-01', periods=20, freq='D')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [77]:
pd.date_range(start='2012-04-01', periods=20, freq='B')

DatetimeIndex(['2012-04-02', '2012-04-03', '2012-04-04', '2012-04-05',
               '2012-04-06', '2012-04-09', '2012-04-10', '2012-04-11',
               '2012-04-12', '2012-04-13', '2012-04-16', '2012-04-17',
               '2012-04-18', '2012-04-19', '2012-04-20', '2012-04-23',
               '2012-04-24', '2012-04-25', '2012-04-26', '2012-04-27'],
              dtype='datetime64[ns]', freq='B')

In [78]:
pd.date_range(start='2012-04-01', periods=20, freq='W')

DatetimeIndex(['2012-04-01', '2012-04-08', '2012-04-15', '2012-04-22',
               '2012-04-29', '2012-05-06', '2012-05-13', '2012-05-20',
               '2012-05-27', '2012-06-03', '2012-06-10', '2012-06-17',
               '2012-06-24', '2012-07-01', '2012-07-08', '2012-07-15',
               '2012-07-22', '2012-07-29', '2012-08-05', '2012-08-12'],
              dtype='datetime64[ns]', freq='W-SUN')

In [79]:
pd.date_range(start='2012-04-01', periods=20, freq='Q-JAN')

DatetimeIndex(['2012-04-30', '2012-07-31', '2012-10-31', '2013-01-31',
               '2013-04-30', '2013-07-31', '2013-10-31', '2014-01-31',
               '2014-04-30', '2014-07-31', '2014-10-31', '2015-01-31',
               '2015-04-30', '2015-07-31', '2015-10-31', '2016-01-31',
               '2016-04-30', '2016-07-31', '2016-10-31', '2017-01-31'],
              dtype='datetime64[ns]', freq='Q-JAN')

In [80]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [81]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## FREQUENCIES AND DATA OFFSETS

In [82]:
from pandas.tseries.offsets import Hour, Minute

In [83]:
hour = Hour()

In [84]:
hour

In [85]:
four_hours = Hour(4)

In [86]:
four_hours

In [87]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [88]:
Hour(2) + Minute(30)

In [89]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [90]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [91]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [92]:
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [93]:
ts

2000-01-31   -0.350604
2000-02-29    0.255492
2000-03-31   -0.432590
2000-04-30   -0.092188
Freq: M, dtype: float64

In [94]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.350604
2000-04-30    0.255492
Freq: M, dtype: float64

In [95]:
ts.shift(-2)

2000-01-31   -0.432590
2000-02-29   -0.092188
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [96]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -1.728719
2000-03-31   -2.693167
2000-04-30   -0.786893
Freq: M, dtype: float64

In [97]:
ts

2000-01-31   -0.350604
2000-02-29    0.255492
2000-03-31   -0.432590
2000-04-30   -0.092188
Freq: M, dtype: float64

In [98]:
ts.shift(1)

2000-01-31         NaN
2000-02-29   -0.350604
2000-03-31    0.255492
2000-04-30   -0.432590
Freq: M, dtype: float64

In [99]:
ts.shift(2, freq='M')

2000-03-31   -0.350604
2000-04-30    0.255492
2000-05-31   -0.432590
2000-06-30   -0.092188
Freq: M, dtype: float64

In [100]:
ts.shift(3, freq='D')

2000-02-03   -0.350604
2000-03-03    0.255492
2000-04-03   -0.432590
2000-05-03   -0.092188
dtype: float64

In [101]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -0.350604
2000-02-29 01:30:00    0.255492
2000-03-31 01:30:00   -0.432590
2000-04-30 01:30:00   -0.092188
dtype: float64

## SHIFITING DATES WITH OFFSETS

In [102]:
from pandas.tseries.offsets import Day, MonthEnd

In [103]:
now = datetime(2011, 11, 17)

In [104]:
now

datetime.datetime(2011, 11, 17, 0, 0)

In [105]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [106]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [107]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [108]:
offset = MonthEnd()

In [109]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [110]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [111]:
ts = pd.Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [112]:
ts

2000-01-15   -0.886486
2000-01-19    0.752423
2000-01-23    0.673359
2000-01-27    2.286289
2000-01-31   -2.806551
2000-02-04   -1.209586
2000-02-08   -0.975797
2000-02-12    1.575188
2000-02-16    1.730972
2000-02-20    0.065531
2000-02-24   -0.818470
2000-02-28   -0.530475
2000-03-03    0.936401
2000-03-07   -0.312323
2000-03-11    0.441428
2000-03-15    2.379770
2000-03-19    0.743781
2000-03-23    0.175516
2000-03-27   -0.848900
2000-03-31   -0.970891
Freq: 4D, dtype: float64

In [113]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.003807
2000-02-29   -0.023234
2000-03-31    0.318098
dtype: float64

In [114]:
ts.resample('M').mean()

2000-01-31    0.003807
2000-02-29   -0.023234
2000-03-31    0.318098
Freq: M, dtype: float64

## TIME ZONE HANDLING

In [115]:
import pytz

In [116]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [117]:
tz = pytz.timezone('America/New_York')

In [118]:
tz

### TIME ZONE LOCALIZATION

In [119]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [120]:
 ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [121]:
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [122]:
ts

2012-03-09 09:30:00    0.072298
2012-03-10 09:30:00   -1.123284
2012-03-11 09:30:00    0.632966
2012-03-12 09:30:00    1.117432
2012-03-13 09:30:00    0.605784
2012-03-14 09:30:00    0.413736
Freq: D, dtype: float64

In [123]:
print(ts.index.tz)

None

In [124]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [125]:
ts

2012-03-09 09:30:00    0.072298
2012-03-10 09:30:00   -1.123284
2012-03-11 09:30:00    0.632966
2012-03-12 09:30:00    1.117432
2012-03-13 09:30:00    0.605784
2012-03-14 09:30:00    0.413736
Freq: D, dtype: float64

In [126]:
ts_utc = ts.tz_localize('UTC')

In [127]:
ts_utc

2012-03-09 09:30:00+00:00    0.072298
2012-03-10 09:30:00+00:00   -1.123284
2012-03-11 09:30:00+00:00    0.632966
2012-03-12 09:30:00+00:00    1.117432
2012-03-13 09:30:00+00:00    0.605784
2012-03-14 09:30:00+00:00    0.413736
Freq: D, dtype: float64

In [128]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.072298
2012-03-10 04:30:00-05:00   -1.123284
2012-03-11 05:30:00-04:00    0.632966
2012-03-12 05:30:00-04:00    1.117432
2012-03-13 05:30:00-04:00    0.605784
2012-03-14 05:30:00-04:00    0.413736
Freq: D, dtype: float64

In [129]:
ts_eastern = ts.tz_localize('America/New_York')

In [130]:
ts_eastern

2012-03-09 09:30:00-05:00    0.072298
2012-03-10 09:30:00-05:00   -1.123284
2012-03-11 09:30:00-04:00    0.632966
2012-03-12 09:30:00-04:00    1.117432
2012-03-13 09:30:00-04:00    0.605784
2012-03-14 09:30:00-04:00    0.413736
dtype: float64

In [131]:
ts_eastern = ts.tz_localize('America/New_York')

In [132]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.072298
2012-03-10 15:30:00+01:00   -1.123284
2012-03-11 14:30:00+01:00    0.632966
2012-03-12 14:30:00+01:00    1.117432
2012-03-13 14:30:00+01:00    0.605784
2012-03-14 14:30:00+01:00    0.413736
dtype: float64

In [133]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

## OPERATIONS WITH TIME ZONE - AWARE TIMESTAMP OBJECTS

In [134]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [135]:
stamp_utc = stamp.tz_localize('utc')

In [136]:
stamp

Timestamp('2011-03-12 04:00:00')

In [137]:
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [138]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [139]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [140]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [141]:
stamp_utc.value

1299902400000000000

In [142]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [143]:
from pandas.tseries.offsets import Hour

In [144]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [145]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [146]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [147]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [148]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [149]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

## OPERATIONS BETWEEN DIFFERENT TIME ZONES

In [150]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [151]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [152]:
ts1 = ts[:7].tz_localize('Europe/London')

In [153]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [154]:
result = ts1 + ts2

In [155]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [156]:
ts1

2012-03-07 09:30:00+00:00   -0.029320
2012-03-08 09:30:00+00:00   -0.564176
2012-03-09 09:30:00+00:00   -0.149668
2012-03-12 09:30:00+00:00    2.088264
2012-03-13 09:30:00+00:00   -0.147240
2012-03-14 09:30:00+00:00   -0.114975
2012-03-15 09:30:00+00:00    1.662451
dtype: float64

In [157]:
ts2

2012-03-09 13:30:00+04:00   -0.149668
2012-03-12 13:30:00+04:00    2.088264
2012-03-13 13:30:00+04:00   -0.147240
2012-03-14 13:30:00+04:00   -0.114975
2012-03-15 13:30:00+04:00    1.662451
dtype: float64

## PERIODS AND PERIOD ARITHMETIC

In [158]:
p = pd.Period(2007, freq='A-DEC')

In [159]:
p

Period('2007', 'A-DEC')

In [160]:
p + 5

Period('2012', 'A-DEC')

In [161]:
p - 2

Period('2005', 'A-DEC')

In [162]:
pd.Period('2014', freq='A-DEC') - p

In [163]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [164]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [165]:
pd.Series(np.random.randn(6), index=rng)

2000-01    0.426626
2000-02   -0.353887
2000-03    0.458689
2000-04   -0.457794
2000-05   -0.868948
2000-06   -0.699975
Freq: M, dtype: float64

In [166]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [167]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [168]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

## PERIOD FREQUENCY CONVERSION

In [169]:
p = pd.Period('2007', freq='A-DEC')

In [170]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [171]:
p

Period('2007', 'A-DEC')

In [172]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [173]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [174]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [175]:
rng

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[A-DEC]', freq='A-DEC')

In [176]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [177]:
ts

2006   -0.169761
2007    0.236095
2008    0.110810
2009   -0.239478
Freq: A-DEC, dtype: float64

In [178]:
ts.asfreq('M', how='start')

2006-01   -0.169761
2007-01    0.236095
2008-01    0.110810
2009-01   -0.239478
Freq: M, dtype: float64

## QUARTERLY PERIOD FREQUENCIES

In [179]:
p = pd.Period('2012Q4', freq='Q-JAN')

In [180]:
p

Period('2012Q4', 'Q-JAN')

In [181]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [182]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [183]:
p.asfreq('B', 'e')

Period('2012-01-31', 'B')

In [184]:
(p.asfreq('B', 'e') - 1)

Period('2012-01-30', 'B')

In [185]:
(p.asfreq('B', 'e') - 1).asfreq('T', 's')

Period('2012-01-30 00:00', 'T')

In [186]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [187]:
p4pm

Period('2012-01-30 16:00', 'T')

In [188]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [189]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [190]:
ts = pd.Series(np.arange(len(rng)), index=rng)

In [191]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [192]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [193]:
ts.index = new_rng.to_timestamp()

In [194]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

## COVERTING TIMESTAMS TO PERIODS (AND BACK)

In [196]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [197]:
rng

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [198]:
ts = pd.Series(np.random.rand(3), index=rng)

In [200]:
ts

2000-01-31    0.932426
2000-02-29    0.144567
2000-03-31    0.922561
Freq: M, dtype: float64

In [201]:
pts = ts.to_period()

In [202]:
pts

2000-01    0.932426
2000-02    0.144567
2000-03    0.922561
Freq: M, dtype: float64

In [203]:
 rng = pd.date_range('1/29/2000', periods=6, freq='D')

In [204]:
rng

DatetimeIndex(['2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03'],
              dtype='datetime64[ns]', freq='D')

In [205]:
ts2 = pd.Series(np.random.rand(6), index=rng)

In [207]:
ts2

2000-01-29    0.092064
2000-01-30    0.465979
2000-01-31    0.818870
2000-02-01    0.894271
2000-02-02    0.473225
2000-02-03    0.539709
Freq: D, dtype: float64

In [208]:
ts2.to_period('M')

2000-01    0.092064
2000-01    0.465979
2000-01    0.818870
2000-02    0.894271
2000-02    0.473225
2000-02    0.539709
Freq: M, dtype: float64

In [209]:
pts = ts2.to_period()

In [210]:
pts

2000-01-29    0.092064
2000-01-30    0.465979
2000-01-31    0.818870
2000-02-01    0.894271
2000-02-02    0.473225
2000-02-03    0.539709
Freq: D, dtype: float64

In [211]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    0.092064
2000-01-30 23:59:59.999999999    0.465979
2000-01-31 23:59:59.999999999    0.818870
2000-02-01 23:59:59.999999999    0.894271
2000-02-02 23:59:59.999999999    0.473225
2000-02-03 23:59:59.999999999    0.539709
Freq: D, dtype: float64

##  CREATING A PERIOD INDEX FROM ARRAYS

In [212]:
data = pd.read_csv('examples/macrodata.csv')

In [213]:
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [214]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [215]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
      ...
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [216]:
index = pd.PeriodIndex(year=data.year,
                       quarter=data.quarter,
                       freq='Q-DEC'
)

In [217]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [218]:
data.index = index

In [219]:
data

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
1959Q1,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1959Q2,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
1959Q3,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
1959Q4,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
1960Q1,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008Q3,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
2008Q4,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
2009Q1,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
2009Q2,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
2009Q3,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

In [220]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

## RESAMPLING AND FREQUENCY CONVERSION

In [222]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')

In [224]:
rng

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17',
               '2000-02-18', '2000-02-19', '2000-02-20', '2000-02-21',
               '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
               '2000-02-26', '2000-02-27', '2000-02-28', '2000-02-29',
               '2000-03-01', '2000-03-02', '2000-03-03', '2000-03-04',
               '2000-03-05', '2000-03-06', '2000-03-07', '2000-03-08',
               '2000-03-09', '2000-03-10', '2000-03-11', '2000-03-12',
               '2000-03-13', '2000-03-14', '2000-03-15', '2000-03-16',
               '2000-03-17', '2000-03-18', '2000-03-19', '2000-03-20',
               '2000-03-21', '2000-03-22', '2000-03-23', '2000-03-24',
               '2000-03-25', '2000-03-26', '2000-03-27', '2000-03-28',
               '2000-03-29', '2000-03-30', '2000-03-31', '2000-04-01',
               '2000-04-02', '2000-04-03', '2000-04-04', '2000-04-05',
               '2000-04-06', '2000-04-07', '2000-04-08', '2000-04-09'],
              dtype='datetime64[ns]', freq='D')

In [225]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [226]:
ts

2000-01-01    1.406330
2000-01-02    0.509337
2000-01-03    0.237949
2000-01-04    0.904816
2000-01-05    1.386001
                ...
2000-04-05   -0.247390
2000-04-06   -1.174524
2000-04-07   -0.503900
2000-04-08    0.234206
2000-04-09   -0.535538
Freq: D, Length: 100, dtype: float64

In [227]:
ts.resample('M').mean()

2000-01-31   -0.081807
2000-02-29    0.110088
2000-03-31   -0.113399
2000-04-30   -0.200045
Freq: M, dtype: float64

In [228]:
ts

2000-01-01    1.406330
2000-01-02    0.509337
2000-01-03    0.237949
2000-01-04    0.904816
2000-01-05    1.386001
                ...
2000-04-05   -0.247390
2000-04-06   -1.174524
2000-04-07   -0.503900
2000-04-08    0.234206
2000-04-09   -0.535538
Freq: D, Length: 100, dtype: float64

In [229]:
ts.resample('M', kind='period').mean()

2000-01   -0.081807
2000-02    0.110088
2000-03   -0.113399
2000-04   -0.200045
Freq: M, dtype: float64

## DOWNSAMPLING

In [230]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')

In [231]:
rng

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:01:00',
               '2000-01-01 00:02:00', '2000-01-01 00:03:00',
               '2000-01-01 00:04:00', '2000-01-01 00:05:00',
               '2000-01-01 00:06:00', '2000-01-01 00:07:00',
               '2000-01-01 00:08:00', '2000-01-01 00:09:00',
               '2000-01-01 00:10:00', '2000-01-01 00:11:00'],
              dtype='datetime64[ns]', freq='T')

In [232]:
ts = pd.Series(np.arange(12), index=rng)

In [233]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [234]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [235]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [236]:
ts.resample('5min', closed='right', label='right', loffset='-1s').sum()

<ipython-input-236-793d385fe06a>:1: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  ts.resample('5min', closed='right', label='right', loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

In [237]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11